* {
    font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.attribution { position: fixed; top:0; left: 50%; transform: translate(-50%, 0); font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    position: fixed;
    font-size: 18px;
}

.border {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
    border: 2px solid black;
}

.bg-img-top {
    position: absolute;
    width: 60vmax;
    object-fit: contain;
    right: 50vw;
    bottom: 43vh;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profile-container {
    z-index: 3;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-radius: 1.2rem;
    width: 24.5rem;
    height: 25rem;
}

.profile-container .pf-bg-img {
    width: 100%;
    height: 37.5%;
    margin-bottom: 4.5rem;
}

.profile-container .pf-white-border {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 37.5%;
    transform: translate(-50%, -50%);
    padding: 1%;
    border-radius: 100%;
}

.profile-container .pf-face-img {
    border-radius: 100%;
}

.profile-container .pf-text {
    color: hsl(229, 23%, 23%);
    text-align: center;
    height: 64.5%;
}

.profile-container .pf-text .pf-name span:nth-child(1) {
    font-weight: 700;
    font-size: 1.125rem;
    margin-right: 0.35rem;
}

.profile-container .pf-text .pf-name span:nth-child(2) {
    font-weight: 700;
    font-size: 1.125rem;
    color: hsl(0, 0%, 59%);
}

.profile-container .pf-text .pf-name p:nth-of-type(1) {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.profile-container .pf-text .sub {
    display: flex;
    position: absolute;
    align-items: center;
    /* flex 좌우 여백 조정 해야함. 그리고 container width 다시 조정 */
    bottom: 0;
    width: 100%;
    height: 23%;
    border-top: 2px solid #3632322d;
}

.profile-container .pf-text .sub .sub-item {
    flex: 1 1 0;
}

.profile-container .pf-text .sub .sub-item:first-child {
    margin-left: 2rem;
}

.profile-container .pf-text .sub .sub-item:last-of-type {
    margin-right: 2rem;
}

.profile-container .pf-text .sub .sub-item p {
    margin: 0.4rem 0;
}

.profile-container .pf-text .sub p:nth-child(1) {
    font-weight: 700;
    font-size: 1.125rem;
}

.profile-container .pf-text .sub p:nth-child(2) {
    color: hsl(0, 0%, 59%);
    font-size: 0.75rem;
    letter-spacing: 0.115rem;
    font-weight: 400;
}

.bg-img-bottom {
    position: absolute;
    width: 60vmax;
    object-fit: contain;
    left: 50vw;
    top: 51vh;
}

@media (max-width: 375px) {
    .bg-img-top {
        bottom: 68vh;
        right: 57vw;
    }

    .profile-container {
        width: 19.5rem;
    }

    .bg-img-bottom {
        width: 77vmax;
        left: 47vw;
        top: 62vh;
    }
}